#qna{
  display: none;
  background-color: white;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

.qBox{
  background-color: turquoise;
  text-align: center;
  border-radius: 20px;
  font-size: 24px;
  width: 80%;
}
.answerList{
  background-color: white;
  border-radius: 20px;
  display: block;
  width: 80%;
  border: 0px;
  font-size: 28px;
}

.answerList:hover, .answerList:focus{
  background-color: skyblue;
  color: whitesmoke;
}

.status{
  height: 20px;
  width: 80%;
  background-color: white;
  border-radius: 20px;
}

.statusBar{
  height: 100%;
  border-radius: 20px;
  background-color: red;
}
